HTTP/2 extended connect responses contain Content-Length: 0

**Jetty Version**
12.1.9

**Jetty Environment**
<!-- Applicable only for jetty-12, choose: core, ee8, ee9, ee10, ee11 -->
core

**Java Version**
```
❯ java -version
openjdk version "25.0.1" 2025-10-21 LTS
OpenJDK Runtime Environment Temurin-25.0.1+8 (build 25.0.1+8-LTS)
OpenJDK 64-Bit Server VM Temurin-25.0.1+8 (build 25.0.1+8-LTS, mixed mode, sharing)
```

**Question**

Details below, but my questions are:

1. Should H2 websocket upgrade responses have content-length:0 on them?
2. Is there a nicer way than injecting a `HttpStream.Wrapper` to drop content-length: 0?



I'm working through an upgrade to jetty 12 (from 11) and noticed that when I send an H2 RFC-8441 extended connect request to an h2 websocket server, the connect response contains content-length: 0. 

I think this may be technically out-of-spec: [RFC-8441](https://datatracker.ietf.org/doc/html/rfc8441#section-4) defers to [RFC-7540](https://datatracker.ietf.org/doc/html/rfc7540#section-8.3), which defers to [H1 CONNECT](https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.6):

>   A server MUST NOT send any Transfer-Encoding or Content-Length header
   fields in a 2xx (Successful) response to CONNECT. 

This caused a problem for a generic h2 proxy which was probably taking [this definition](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.6) of malformed responses:

>    A request or response that includes a payload body can include a
   content-length header field.  A request or response is also malformed
   if the value of a content-length header field does not equal the sum
   of the DATA frame payload lengths that form the body.  A response
   that is defined to have no payload, as described in [RFC7230],
   Section 3.3.2, can have a non-zero content-length header field, even
   though no content is included in DATA frames.

Since there were inevitably data frames after this content-length: 0 header response. 

That being said, the proxy is probably also wrong since: 

 > A client MUST ignore any Content-Length or Transfer-Encoding header fields received in a successful response to CONNECT.


All that is to say, I think this is maybe slightly out-of-spec but conforming clients shouldn't really care so maybe it's fine. 


I've reproduced the behavior here:
```java
  public static void main(String[] args) throws Exception {
    Server server = new Server();

    final HttpConfiguration httpConfig = new HttpConfiguration();
    final HttpConnectionFactory h1 = new HttpConnectionFactory(httpConfig);
    final HTTP2CServerConnectionFactory h2c = new HTTP2CServerConnectionFactory(httpConfig);
    h2c.setConnectProtocolEnabled(true);

    ServerConnector connector = new ServerConnector(server, h1, h2c);
    connector.setPort(0);
    server.addConnector(connector);

    final WebSocketUpgradeHandler wsHandler = WebSocketUpgradeHandler.from(server, container ->
        container.addMapping("/ws", (req, resp, cb) -> new EchoSocket()));
//    server.setHandler(new StripContentLengthOnWsUpgrade(wsHandler));
    server.setHandler(wsHandler);
    server.start();
    System.out.println(connector.getLocalPort());
    Thread.sleep(1000);
    sendRequest(connector.getLocalPort());
  }

  public static void sendRequest(int port) throws Exception {
    HTTP2Client client = new HTTP2Client();
    client.start();
    try {
      final Session session = client.connect(new InetSocketAddress("localhost", port), new Session.Listener() {}).join();
      HttpFields requestFields = HttpFields.build().put("sec-websocket-version", "13");

      MetaData.ConnectRequest connect = new MetaData.ConnectRequest(
          HttpScheme.HTTP,
          new HostPortHttpField("localhost:" + port),
          "/ws",
          requestFields,
          "websocket");
      HeadersFrame headersFrame = new HeadersFrame(connect, null, false);

      CompletableFuture<MetaData.Response> responseFuture = new CompletableFuture<>();
      Stream.Listener streamListener = new Stream.Listener() {
        @Override
        public void onHeaders(Stream stream, HeadersFrame frame) {
          MetaData metaData = frame.getMetaData();
          if (metaData.isResponse()) {
            responseFuture.complete((MetaData.Response) metaData);
          }
        }
      };
      session.newStream(headersFrame, streamListener).get(5, TimeUnit.SECONDS);
      MetaData.Response response = responseFuture.get(5, TimeUnit.SECONDS);

      System.out.println(">>> :status: " + response.getStatus());
      for (HttpField f : response.getHttpFields()) {
        System.out.println(">>> " + f.getName() + ": " + f.getValue());
      }
    } finally {
      client.stop();
    }
  }

  public static class EchoSocket implements org.eclipse.jetty.websocket.api.Session.Listener.AutoDemanding {
    private org.eclipse.jetty.websocket.api.Session session;

    @Override
    public void onWebSocketOpen(final org.eclipse.jetty.websocket.api.Session session) {
      this.session = session;
    }

    @Override
    public void onWebSocketText(final String message) {
      session.sendText(message, Callback.NOOP);
    }
  }
```

produces:
```
>>> :status: 200
>>> server: Jetty(12.1.9)
>>> date: Wed, 13 May 2026 17:31:16 GMT
>>> content-length: 0
```

The content-length is added pretty deep in the machinery in [HttpChannelState](https://github.com/jetty/jetty.project/blob/45ee739325171abc38feca52a33e53a392ee95df/jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java#L1571). So the only way I could find to avoid setting the content-length was to add a stream wrapper like this around the response to override the send:

```java
class StripContentLengthOnWsUpgrade extends Handler.Wrapper {

  StripContentLengthOnWsUpgrade(Handler handler) {
    super(handler);
  }

  @Override
  public boolean handle(Request request, Response response, Callback callback) throws Exception {
    if (isExtendedConnectWebSocket(request)) {
      request.addHttpStreamWrapper(stream -> new ScrubbingStream(stream));
    }
    return super.handle(request, response, callback);
  }

  private static boolean isExtendedConnectWebSocket(Request request) {
    return HttpMethod.CONNECT.is(request.getMethod());
  }

  private static class ScrubbingStream extends HttpStream.Wrapper {

    ScrubbingStream(HttpStream wrapped) {
      super(wrapped);
    }

    @Override
    public void send(MetaData.Request req, MetaData.Response resp,
        boolean last, ByteBuffer content, Callback callback) {
      if (resp != null && resp.getStatus() == 200
          && resp.getHttpFields().contains(HttpHeader.CONTENT_LENGTH)) {
        HttpFields stripped = HttpFields.build(resp.getHttpFields())
            .remove(HttpHeader.CONTENT_LENGTH);
        resp = new MetaData.Response(
            resp.getStatus(),
            resp.getReason(),
            resp.getHttpVersion(),
            stripped,
            -1,
            resp.getTrailersSupplier());
      }
      super.send(req, resp, last, content, callback);
    }
```

Is there a less invasive way to trick the channel state to avoid writing `content-length: 0` ?

@ravi-signal good catch, can you please try #15075 and see if it works for you?

Thanks for taking a look, I can confirm that #15075 fixes the issue for me. Thank you for the speedy fix! 